::-webkit-scrollbar-track {
  background: inherit; /* change to your color */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #083b23; /* handle color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0d5231;
}
